# import libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

# data load

In [2]:
data_dir = '../data/'
train = pd.read_csv(data_dir+'iris_train.csv')
test = pd.read_csv(data_dir+'iris_test.csv')
submission = pd.read_csv(data_dir+'sample_submission.csv')

In [3]:
train.head(10)

,id,species,sepal length (cm),petal length (cm),sepal width (cm),petal width (cm)
0,0,setosa,4.4,1.4,2.9,0.2
1,1,versicolor,6.4,4.5,3.2,1.5
2,2,virginica,6.2,4.8,2.8,1.8
3,3,virginica,7.2,6.1,3.6,2.5
4,4,setosa,4.9,1.4,3.0,0.2
5,5,virginica,6.5,5.8,3.0,2.2
6,6,setosa,4.3,1.1,3.0,0.1
7,7,versicolor,6.7,5.0,3.0,1.7
8,8,versicolor,6.8,4.8,2.8,1.4
9,9,versicolor,6.6,4.4,3.0,1.4

In [4]:
test.head(10)

   id     species  sepal length (cm)  petal length (cm)
0   0      setosa                5.4                1.7
1   1      setosa                5.7                1.5
2   2      setosa                5.3                1.5
3   3      setosa                5.1                1.9
4   4   virginica                6.0                4.8
5   5   virginica                5.8                5.1
6   6      setosa                5.4                1.5
7   7      setosa                5.0                1.4
8   8      setosa                4.9                1.5
9   9  versicolor                6.0                4.5

In [5]:
train.shape, test.shape

((75, 6), (75, 4))

In [6]:
sepal_train_length = train['sepal length (cm)']
sepal_train_width = train['sepal width (cm)']

petal_train_length = train['petal length (cm)']
petal_train_width = train['petal width (cm)']

In [7]:
sepal_train_length = np.array(sepal_train_length).reshape(-1, 1)
sepal_train_width = np.array(sepal_train_width).reshape(-1, 1)

petal_train_length = np.array(petal_train_length).reshape(-1, 1)
petal_train_width = np.array(petal_train_width).reshape(-1, 1)

# model training

In [8]:
sepal_lr_model = LinearRegression()
sepal_lr_model.fit(sepal_train_length, sepal_train_width)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
petal_lr_model = LinearRegression()
petal_lr_model.fit(petal_train_length, petal_train_width)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# prediction

In [10]:
sepal_test_length = test['sepal length (cm)']
petal_test_length = test['petal length (cm)']

In [11]:
sepal_test_length = np.array(sepal_test_length).reshape(-1, 1)
petal_test_length = np.array(petal_test_length).reshape(-1, 1)

In [13]:
sepal_width_preds = sepal_lr_model.predict(sepal_test_length)

In [14]:
petal_width_preds = petal_lr_model.predict(petal_test_length)

In [15]:
print(sepal_width_preds)

[[2.95062169]
 [2.95436935]
 [2.94937247]
 [2.94687403]
 [2.95811701]
 [2.95561857]
 [2.95062169]
 [2.94562481]
 [2.94437559]
 [2.95811701]
 [2.94437559]
 [2.94312637]
 [2.96186467]
 [2.98185218]
 [2.95312013]
 [2.96186467]
 [2.94062793]
 [2.96935999]
 [2.95936623]
 [2.95936623]
 [2.96311389]
 [2.94312637]
 [2.95436935]
 [2.94687403]
 [2.95187091]
 [2.94312637]
 [2.94687403]
 [2.94812325]
 [2.95062169]
 [2.96935999]
 [2.95561857]
 [2.94812325]
 [2.93812949]
 [2.96811077]
 [2.96436311]
 [2.94687403]
 [2.93937871]
 [2.95436935]
 [2.94562481]
 [2.96686155]
 [2.94687403]
 [2.94562481]
 [2.97560609]
 [2.94562481]
 [2.97935375]
 [2.94062793]
 [2.96061545]
 [2.94562481]
 [2.95436935]
 [2.96061545]
 [2.94562481]
 [2.95187091]
 [2.95187091]
 [2.95062169]
 [2.95187091]
 [2.95811701]
 [2.95187091]
 [2.95312013]
 [2.94562481]
 [2.96186467]
 [2.96686155]
 [2.95187091]
 [2.96686155]
 [2.96311389]
 [2.94187715]
 [2.94687403]
 [2.96686155]
 [2.94687403]
 [2.94812325]
 [2.95436935]
 [2.95561857]
 [2.93812949]
 [2.96186467]
 [2.94687403]
 [2.95686779]]

In [16]:
print(petal_width_preds)

[[0.33112216]
 [0.24882321]
 [0.24882321]
 [0.4134211 ]
 [1.60675581]
 [1.73020423]
 [0.24882321]
 [0.20767374]
 [0.24882321]
 [1.48330739]
 [0.20767374]
 [0.20767374]
 [1.73020423]
 [2.26514738]
 [1.35985898]
 [1.68905476]
 [0.20767374]
 [1.73020423]
 [1.52445687]
 [1.93595159]
 [1.93595159]
 [0.4134211 ]
 [1.3187095 ]
 [0.28997268]
 [1.15411161]
 [0.28997268]
 [0.33112216]
 [0.20767374]
 [0.16652427]
 [1.85365265]
 [1.23641056]
 [0.24882321]
 [0.16652427]
 [2.05940001]
 [1.7713537 ]
 [0.24882321]
 [0.16652427]
 [1.35985898]
 [0.28997268]
 [1.56560634]
 [0.24882321]
 [0.16652427]
 [2.14169896]
 [0.28997268]
 [2.14169896]
 [0.04307585]
 [1.85365265]
 [0.98951372]
 [0.33112216]
 [1.40100845]
 [0.28997268]
 [1.44215792]
 [1.19526108]
 [1.48330739]
 [0.16652427]
 [1.73020423]
 [0.20767374]
 [1.3187095 ]
 [0.12537479]
 [1.44215792]
 [1.97710107]
 [1.27756003]
 [1.93595159]
 [1.89480212]
 [0.28997268]
 [0.24882321]
 [1.7713537 ]
 [0.20767374]
 [0.24882321]
 [1.35985898]
 [1.27756003]
 [0.16652427]
 [1.93595159]
 [0.8660653 ]
 [1.73020423]]

# submission

In [17]:
submission['sepal width (cm)'] = sepal_width_preds
submission['petal width (cm)'] = petal_width_preds

In [18]:
submission

    id  sepal width (cm)  petal width (cm)
0    0          2.950622          0.331122
1    1          2.954369          0.248823
2    2          2.949372          0.248823
3    3          2.946874          0.413421
4    4          2.958117          1.606756
..  ..               ...               ...
70  70          2.955619          1.277560
71  71          2.938129          0.166524
72  72          2.961865          1.935952
73  73          2.946874          0.866065
74  74          2.956868          1.730204

[75 rows x 3 columns]

In [19]:
result_dir = '../result/'
submission.to_csv(result_dir+"submission.csv", index=False)