# import libraries

In [15]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# data load

In [9]:
data_dir = '../data/'
train = pd.read_csv(data_dir+'iris_train.csv')
test = pd.read_csv(data_dir+'iris_test.csv')
submission = pd.read_csv(data_dir+'sample_submission.csv')

In [10]:
# id column is unnecessary
train.drop('id',axis=1,inplace=True)
test.drop('id',axis=1,inplace=True)

In [11]:
train.head(10)

,species,sepal length (cm),petal length (cm),sepal width (cm),petal width (cm)
0,setosa,4.4,1.4,2.9,0.2
1,versicolor,6.4,4.5,3.2,1.5
2,virginica,6.2,4.8,2.8,1.8
3,virginica,7.2,6.1,3.6,2.5
4,setosa,4.9,1.4,3.0,0.2
5,virginica,6.5,5.8,3.0,2.2
6,setosa,4.3,1.1,3.0,0.1
7,versicolor,6.7,5.0,3.0,1.7
8,versicolor,6.8,4.8,2.8,1.4
9,versicolor,6.6,4.4,3.0,1.4

In [12]:
test.head(10)

      species  sepal length (cm)  petal length (cm)
0      setosa                5.4                1.7
1      setosa                5.7                1.5
2      setosa                5.3                1.5
3      setosa                5.1                1.9
4   virginica                6.0                4.8
5   virginica                5.8                5.1
6      setosa                5.4                1.5
7      setosa                5.0                1.4
8      setosa                4.9                1.5
9  versicolor                6.0                4.5

In [13]:
train.shape, test.shape

((75, 5), (75, 3))

In [16]:
le = LabelEncoder()
train_le_species = le.fit_transform(train['species'])

train['species'] = train_le_species

train_input = train.drop(['sepal width (cm)','petal width (cm)'], axis=1).to_numpy()
train_target = train[['sepal width (cm)', 'petal width (cm)']].to_numpy()

train_input, test_input, train_target, test_target = train_test_split(train_input, train_target, test_size=.2, random_state=42)

# model training

In [20]:
lr_model = LinearRegression()
lr_model.fit(train_input, train_target)
print(lr_model.score(test_input, test_target))

0.8619705366295227

C:\Users\HyeongJu\anaconda3\envs\pytorch\lib\site-packages\sklearn\base.py:434: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)

# prediction

In [21]:
test_le_species= le.fit_transform(test['species'])
test['species']=test_le_species

In [22]:
predict = np.round(lr_model.predict(test),2)
predict_df= pd.DataFrame(predict)

# submission

In [23]:
submission['sepal width (cm)'] = np.array(predict_df[0])
submission['petal width (cm)'] = np.array(predict_df[1])

In [24]:
submission

    id  sepal width (cm)  petal width (cm)
0    0              3.38              0.26
1    1              3.62              0.17
2    2              3.40              0.20
3    3              3.15              0.36
4    4              2.88              1.76
..  ..               ...               ...
70  70              2.90              1.26
71  71              3.01              0.21
72  72              2.73              2.01
73  73              2.91              0.98
74  74              2.71              1.87

[75 rows x 3 columns]

In [25]:
result_dir = '../result/'
submission.to_csv(result_dir+"submission.csv", index=False)