# import libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR

# data load

In [2]:
data_dir = '../data/'
train = pd.read_csv(data_dir+'iris_train.csv')
test = pd.read_csv(data_dir+'iris_test.csv')
submission = pd.read_csv(data_dir+'sample_submission.csv')

In [3]:
train.head(10)

,id,species,sepal length (cm),petal length (cm),sepal width (cm),petal width (cm)
0,0,setosa,4.4,1.4,2.9,0.2
1,1,versicolor,6.4,4.5,3.2,1.5
2,2,virginica,6.2,4.8,2.8,1.8
3,3,virginica,7.2,6.1,3.6,2.5
4,4,setosa,4.9,1.4,3.0,0.2
5,5,virginica,6.5,5.8,3.0,2.2
6,6,setosa,4.3,1.1,3.0,0.1
7,7,versicolor,6.7,5.0,3.0,1.7
8,8,versicolor,6.8,4.8,2.8,1.4
9,9,versicolor,6.6,4.4,3.0,1.4

In [4]:
test.head(10)

   id     species  sepal length (cm)  petal length (cm)
0   0      setosa                5.4                1.7
1   1      setosa                5.7                1.5
2   2      setosa                5.3                1.5
3   3      setosa                5.1                1.9
4   4   virginica                6.0                4.8
5   5   virginica                5.8                5.1
6   6      setosa                5.4                1.5
7   7      setosa                5.0                1.4
8   8      setosa                4.9                1.5
9   9  versicolor                6.0                4.5

In [5]:
train.shape, test.shape

((75, 6), (75, 4))

In [6]:
sepal_train_length = train['sepal length (cm)']
sepal_train_width = train['sepal width (cm)']

petal_train_length = train['petal length (cm)']
petal_train_width = train['petal width (cm)']

In [7]:
sepal_train_length = np.array(sepal_train_length).reshape(-1, 1)
sepal_train_width = np.array(sepal_train_width).reshape(-1, 1)

petal_train_length = np.array(petal_train_length).reshape(-1, 1)
petal_train_width = np.array(petal_train_width).reshape(-1, 1)

# model training

In [8]:
sepal_svr_model = SVR(kernel='linear', C=1.0, epsilon=0.1)
sepal_svr_model.fit(sepal_train_length, sepal_train_width)

C:\Users\HyeongJu\anaconda3\envs\pytorch\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [9]:
petal_svr_model = SVR(kernel='linear', C=1.0, epsilon=0.1)
petal_svr_model.fit(petal_train_length, petal_train_width)

C:\Users\HyeongJu\anaconda3\envs\pytorch\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

# prediction

In [10]:
sepal_test_length = test['sepal length (cm)']
petal_test_length = test['petal length (cm)']

In [11]:
sepal_test_length = np.array(sepal_test_length).reshape(-1, 1)
petal_test_length = np.array(petal_test_length).reshape(-1, 1)

In [12]:
sepal_width_preds = sepal_svr_model.predict(sepal_test_length)

In [13]:
petal_width_preds = petal_svr_model.predict(petal_test_length)

In [14]:
print(sepal_width_preds)

[2.89999981 2.90000057 2.89999956 2.89999905 2.90000133 2.90000082
 2.89999981 2.8999988  2.89999855 2.90000133 2.89999855 2.89999829
 2.90000209 2.90000614 2.90000032 2.90000209 2.89999779 2.90000361
 2.90000158 2.90000158 2.90000234 2.89999829 2.90000057 2.89999905
 2.90000006 2.89999829 2.89999905 2.8999993  2.89999981 2.90000361
 2.90000082 2.8999993  2.89999728 2.90000336 2.9000026  2.89999905
 2.89999753 2.90000057 2.8999988  2.9000031  2.89999905 2.8999988
 2.90000488 2.8999988  2.90000563 2.89999779 2.90000184 2.8999988
 2.90000057 2.90000184 2.8999988  2.90000006 2.90000006 2.89999981
 2.90000006 2.90000133 2.90000006 2.90000032 2.8999988  2.90000209
 2.9000031  2.90000006 2.9000031  2.90000234 2.89999804 2.89999905
 2.9000031  2.89999905 2.8999993  2.90000057 2.90000082 2.89999728
 2.90000209 2.89999905 2.90000108]

In [15]:
print(petal_width_preds)

[0.32142765 0.24047538 0.24047538 0.40237992 1.57618787 1.69761628
 0.24047538 0.19999924 0.24047538 1.45475946 0.19999924 0.19999924
 1.69761628 2.22380605 1.33333105 1.65714014 0.19999924 1.69761628
 1.4952356  1.89999696 1.89999696 0.40237992 1.29285492 0.28095151
 1.13095037 0.28095151 0.32142765 0.19999924 0.1595231  1.81904469
 1.21190264 0.24047538 0.1595231  2.02142537 1.73809242 0.24047538
 0.1595231  1.33333105 0.28095151 1.53571173 0.24047538 0.1595231
 2.10237764 0.28095151 2.10237764 0.03809469 1.81904469 0.96904583
 0.32142765 1.37380719 0.28095151 1.41428333 1.17142651 1.45475946
 0.1595231  1.69761628 0.19999924 1.29285492 0.11904697 1.41428333
 1.9404731  1.25237878 1.89999696 1.85952082 0.28095151 0.24047538
 1.73809242 0.19999924 0.24047538 1.33333105 1.25237878 0.1595231
 1.89999696 0.84761742 1.69761628]

# submission

In [16]:
submission['sepal width (cm)'] = sepal_width_preds
submission['petal width (cm)'] = petal_width_preds

In [17]:
submission

    id  sepal width (cm)  petal width (cm)
0    0          2.900000          0.321428
1    1          2.900001          0.240475
2    2          2.900000          0.240475
3    3          2.899999          0.402380
4    4          2.900001          1.576188
..  ..               ...               ...
70  70          2.900001          1.252379
71  71          2.899997          0.159523
72  72          2.900002          1.899997
73  73          2.899999          0.847617
74  74          2.900001          1.697616

[75 rows x 3 columns]

In [18]:
result_dir = '../result/'
submission.to_csv(result_dir+"submission2.csv", index=False)